<a href="https://colab.research.google.com/github/mc7836/python_projects/blob/main/2-Introduction_to_Python/B-Numeric_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Expressions, Data Types, and Variables

## Math Expressions for Numeric Types

We will start first by dealing with numbers and see how we can do various math and logical operations with Python. Here are a few operators that we will be using:

* `+` addition, add two numbers
* `-` subtraction and negation
* `*` multiplication, multiply two numbers
* `/` divide first  with the outcome being decimal outcome
* `//` division with the outcome being integer (return only the integer part of the outcome)
* `%` modulo/division remainder, what is the remainder when the first number is divided by the second?
* `**` power, raise the first number into a power given by the second number

In [ ]:
print("addition:")
print(1 + 1)
print(1.5 + 1)

addition:
2
2.5

In [ ]:
print("subtraction:")
print(1 - 1)
print(1 - 1.0)

In [ ]:
print("negation:")
print(-5)

In [ ]:
print("multiplication:")
print(3 * 3)  # integer
print(3 * 3.0)  # floating point

In [ ]:
print("division:")
print(4 / 2)
print(5 / 2)

In [ ]:
print("integer division:")
print(4 // 2)
print(5 // 2)

In [ ]:
print("modulo:")  # modulo is a fancy term for remainder of a division
print(4 % 2)
print(5 % 2)
print(5.5 % 2)
print(75 % 4)
print(10 % 3)

In [ ]:
print("power:")
print(10**3)
print(2**5)

## Exercise 1

Assume that you go to a restaurant, and you order $50 worth of food. Then you need to add the NY Sales Tax (8.875%) and add a tip (say, 20%). Write down the calculation that will print the total cost of the food.

In [24]:
# tip calculated on the pre-tax amount
# how much to tip pre-tax
meal_price=50
tip=20
tax=8.875
print("The total cost of the meal, with tip on the pre-tax amount is:")
print(meal_price+meal_price * tax/100 +meal_price*tip/100)

print("The tip on the pre-tax amount is:")
print(meal_price*tip/100)

The total cost of the meal, with tip on the pre-tax amount is:
64.4375
The tip on the pre-tax amount is:
10.0

In [26]:
# tip calculated on the after-tax amount
# how much to tip after tax
meal_price=50
tip=20
tax=8.875
overall_cost=(meal_price+meal_price*tax/100+(meal_price+meal_price*tax/100)*tip/100)
print("The total cost of the meal, with tip on the post-tax amount is:")
print(overall_cost)

print("The tip on the post-tax amount is:")
mealprice_tax=(meal_price+meal_price*tax/100)
tip_aftertax=(overall_cost-mealprice_tax)
print(tip_aftertax)

The total cost of the meal, with tip on the post-tax amount is:
65.325
The tip on the post-tax amount is:
10.887500000000003

### Solution

In [7]:
print("The total cost of the meal, with tip on the pre-tax amount is:")
print(50 + 50 * 8.875 / 100 + 50 * 20 / 100)

The total cost of the meal, with tip on the pre-tax amount is:
64.4375

In [14]:
print("The total cost of the meal, with tip on the post-tax amount is:")
print(50 + 50 * 8.875 / 100 + (50 + 50 * 8.875 / 100) * 20 / 100)

The total cost of the meal, with tip on the post-tax amount is:
65.325

## Exercise 2


You have a stock that closed at \$550 on Monday, and then closed at \$560 on Tuesday. Calculate its daily return: the daily return is defined as the difference in the closing prices, divided by the closing price the day before.

In [ ]:
# your code here

### Solution

In [27]:
print("The daily return is:")
print((560 - 550) / 550)

The daily return is:
0.01818181818181818

In [28]:
# If we want to show percentages,
# We can modify our code and
# add a multiplication with 100 in front:
print("The daily return is:")
print(100 * (560 - 550) / 550)

The daily return is:
1.8181818181818181

## Exercise 3


Assume that someone's height is 5 ft and 9 inches. Conver that to centimeters. Remember that one foot is 30.48 centimeters, and one inch is 2.54 centimeters.

In [ ]:
# your code here

### Solution

In [29]:
print("The height in centimeters is:")
print(5 * 30.48 + 9 * 2.54)

The height in centimeters is:
175.26

## Exercise 4


Write a Python program to compute the future value of a deposit with a a principal amount of \$10,000, rate of interest 3 percent, and after 5 years. Remember that the value is: $ Principal * (1+interest)^{years}$ and you will need to use the power operator  (**) for this calculation.

In [ ]:
# your code here

### Solution

In [ ]:
print("The value of the deposit will be:")
print(10000 * (1 + 3 / 100)**5)

The value of the deposit will be:
11592.740743

## Exercise 5

Assume that someone's height is 180 centimeters. Convert that height into feet and inches. Remember that one foot is 30.48 centimeters, and one inch is 2.54 centimeters. You will need to use the modulo operator (%) for this conversion. Also use the `int(...)` function to get the integer part of a division. Optionally, you can also use the `round(...)` function to get the rounded integer number from a decimal.

In [ ]:
# your code here

### Solution

In [ ]:
print("180 cm is")
print(180 // 30.48)
print("feet and ")
print(180 % 30.48 / 2.54)
print("inches")

180 cm is
5.0
feet and
10.866141732283463
inches

In [ ]:
# letâ€™s see how we can print the message in one line
print("180 cm is", 180 // 30.48, "feet and ", 180 % 30.48 / 2.54, "inches")

180 cm is 5.0 feet and  10.866141732283463 inches

In [ ]:
# Let's use int() function to make the output look a bit nicer.
print("180 cm is", int(180 / 30.48), "feet and", int(180 % 30.48 / 2.54), "inches")

180 cm is 5 feet and 10 inches

In [ ]:
# Let's use the functions int() and round()
print("180 cm is", int(180 / 30.48), "feet and", round(180 % 30.48 / 2.54, 1), "inches")

180 cm is 5 feet and 10.9 inches